In [1]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd
  
# # creating dummies for gender
# data['Gender'] = data['Gender'].map({'Male':0, 'Female':1})
  
# # the independent variables set
# X = data[['Gender', 'Height', 'Weight']]
  
# # VIF dataframe
# vif_data = pd.DataFrame()
# vif_data["feature"] = X.columns
  
# # calculating VIF for each feature
# vif_data["VIF"] = [variance_inflation_factor(X.values, i)
#                           for i in range(len(X.columns))]
  
# print(vif_data)

In [2]:
mrna_df =pd.read_csv('/Users/cp/Documents/dsi/capstone2/capstone2/data/capstone2.mrn_df2.csv')

In [3]:
vif = pd.DataFrame()

In [4]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(mrna_df.values, i) for i in range(mrna_df.shape[1])]
vif["features"] = mrna_df.columns



# vif["VIF"] = [variance_inflation_factor(mrna_df.values, i)
#                           for i in range(len(mrna_df.columns))]

In [6]:
vif

     VIF Factor features
0      2.767529    brca1
1      1.901249    brca2
2      3.412232    palb2
3      3.429225     pten
4      2.254128     tp53
..          ...      ...
484    5.968724     tnk2
485    3.563981    tulp4
486    2.426957  ugt2b15
487    1.667771  ugt2b17
488    2.727151   ugt2b7

[489 rows x 2 columns]

In [21]:
vif['VIF Factor'].max()

21.36142798765596

In [9]:
while vif['VIF Factor'].max()>10:
    mrna_df.loc[mrna_df]
    vif["VIF Factor"] = [variance_inflation_factor(mrna_df.values, i) for i in range(mrna_df.shape[1])]
    vif["features"] = mrna_df.columns

     VIF Factor features
16     6.185047    epcam
20     5.489563      rb1
24     7.673892    ccnb1
25    10.568954     cdk1
26     6.993256    ccne1
..          ...      ...
458    7.383083  hsd17b6
470    6.433140    prkd1
471    6.087499      ran
478    6.372065    spry2
484    5.968724     tnk2

[113 rows x 2 columns]

In [11]:
len(vif[vif['VIF Factor']>10])

13

In [19]:
max1 = vif['VIF Factor'].max()
filt1 = vif['VIF Factor']== max1

In [20]:
df2 = vif.drop(vif[filt1])

KeyError: "['VIF Factor' 'features'] not found in axis"

In [ ]:
column_drop = mrnamrna_df.vif['VIF Factor'].max()

In [22]:
vif.head()

   VIF Factor features
0    2.767529    brca1
1    1.901249    brca2
2    3.412232    palb2
3    3.429225     pten
4    2.254128     tp53

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor    
def calculate_vif_(X, thresh=5.0):
    variables = list(range(X.shape[1]))
    dropped = True
    while dropped:
        dropped = False
        vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
        maxloc = vif.index(max(vif))
        if max(vif) > thresh:
            print('dropping \'' + X.iloc[:, variables].columns[maxloc] +
                  '\' at index: ' + str(maxloc))
            del variables[maxloc]
            dropped = True
    print('Remaining variables:')
    print(X.columns[variables])
    return X.iloc[:, variables]

In [24]:
calculate_vif_(mrna_df)

dropping 'akr1c4' at index: 432
dropping 'pdgfrb' at index: 232
dropping 'tgfbr2' at index: 267
dropping 'col6a3' at index: 331
dropping 'gata3' at index: 278
dropping 'eif4e' at index: 153
dropping 'pdgfra' at index: 230
dropping 'cdk1' at index: 25
dropping 'col12a1' at index: 325
dropping 'e2f2' at index: 38
dropping 'zfp36l1' at index: 418
dropping 'stat2' at index: 48
dropping 'lama2' at index: 348
dropping 'hsd17b11' at index: 438
dropping 'aurka' at index: 117
dropping 'setd1a' at index: 387
dropping 'ppp2cb' at index: 372
dropping 'rheb' at index: 237
dropping 'hdac2' at index: 72
dropping 'itgav' at index: 172
dropping 'erbb3' at index: 151
dropping 'aph1a' at index: 55
dropping 'cdc25a' at index: 27
dropping 'smarcc2' at index: 390
dropping 'chek1' at index: 135
dropping 'jak1' at index: 44
dropping 'bcl2' at index: 114
dropping 'hsd17b6' at index: 431
dropping 'stat1' at index: 45
dropping 'map4' at index: 282
dropping 'ep300' at index: 65
dropping 'tgfb3' at index: 248
dropping 'notch1' at index: 80
dropping 'mmp2' at index: 198
dropping 'ccne1' at index: 25
dropping 'myc' at index: 32
dropping 'foxo1' at index: 148
dropping 'cbfb' at index: 254
dropping 'csf1r' at index: 129
dropping 'bmpr2' at index: 120
dropping 'palld' at index: 349
dropping 'ccnb1' at index: 24
dropping 'pdpk1' at index: 208
dropping 'adgra2' at index: 277
dropping 'gsk3b' at index: 148
dropping 'map2k1' at index: 161
dropping 'sf3b1' at index: 361
dropping 'dab2' at index: 130
dropping 'prkd1' at index: 422
dropping 'kmt2c' at index: 247
dropping 'e2f3' at index: 34
dropping 'epcam' at index: 16
dropping 'spry2' at index: 426
dropping 'cdkn2a' at index: 28
dropping 'aph1b' at index: 46
dropping 'ccnd2' at index: 27
dropping 'mapt' at index: 261
dropping 'tnk2' at index: 427
dropping 'igf1' at index: 145
dropping 'ncor2' at index: 70
dropping 'arid1a' at index: 238
dropping 'ar' at index: 378
dropping 'kdm3a' at index: 306
dropping 'dtx3' at index: 55
dropping 'klrg1' at index: 306
dropping 'stat5a' at index: 39
dropping 'tsc2' at index: 230
dropping 'ran' at index: 406
Remaining variables:
Index(['brca1', 'brca2', 'palb2', 'pten', 'tp53', 'atm', 'cdh1', 'chek2',
       'nbn', 'nf1',
       ...
       'sox9', 'srd5a1', 'srd5a2', 'srd5a3', 'st7', 'star', 'tulp4', 'ugt2b15',
       'ugt2b17', 'ugt2b7'],
      dtype='object', length=421)

,brca1,brca2,palb2,pten,tp53,atm,cdh1,chek2,nbn,nf1,...,sox9,srd5a1,srd5a2,srd5a3,st7,star,tulp4,ugt2b15,ugt2b17,ugt2b7
0,-1.3990,-0.5738,-1.6217,1.4524,0.3504,1.1517,0.0348,0.1266,-0.8361,-0.8578,...,1.2386,-1.1877,-0.0194,-1.6345,-0.2142,-0.5698,-1.4779,-0.5954,-0.8847,-0.3354
1,-1.3800,0.2777,-1.2154,0.5296,-0.0136,-0.2659,1.3594,0.7961,0.5419,-2.6059,...,-1.3206,-0.4412,0.4534,0.4068,0.7634,0.0231,-0.9538,-0.2264,0.5398,-0.8920
2,0.0670,-0.8426,0.2114,-0.3326,0.5141,-0.0803,1.1398,0.4187,-0.4030,-1.1305,...,1.2552,-0.5381,0.0668,0.8344,1.7227,0.4024,-1.5538,1.3701,-0.1078,0.3655
3,0.6744,-0.5428,-1.6592,0.6369,1.6708,-0.8880,1.2491,-1.1889,-0.4174,-0.6165,...,-0.7887,-0.5630,-0.7078,0.8228,0.6819,-0.1948,-0.9924,-0.3154,0.2320,-0.4828
4,1.2932,-0.9039,-0.7219,0.2168,0.3484,0.3897,0.9131,0.9356,0.7675,-0.2940,...,0.1858,-0.5845,-0.3544,-1.0150,2.2961,0.1817,0.0427,5.0048,3.8476,1.3223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,0.1563,0.5543,-0.6149,0.4572,1.3822,-0.0537,-0.1323,0.2837,-0.0726,-0.5500,...,-1.7009,0.7859,1.5304,1.1196,0.8116,0.0958,-0.3566,-0.2615,-0.6371,-0.5540
1900,0.1343,0.9128,1.3017,0.7383,0.1841,0.0028,0.1243,2.2040,-0.6190,-0.8681,...,0.2780,-0.5294,-0.6610,-0.1610,0.2251,0.5127,-1.0703,-0.6950,0.0641,-0.8863
1901,1.8107,-0.2608,0.4006,-0.2985,0.0356,-0.1620,1.5486,1.5309,-1.3653,-0.2529,...,-1.3997,-0.1457,-0.5194,2.3968,0.5917,-0.8643,-1.8076,-0.1840,0.0967,-0.6264
1902,-1.2746,-1.7695,-0.3454,-0.3850,0.6689,1.4531,1.0956,-0.0948,-0.6188,-1.9467,...,-0.4753,-0.6380,-1.5275,1.1070,0.2194,1.4317,-0.6046,-0.4915,-0.2847,-0.8041
1903,-0.7525,0.7352,0.6448,-0.3241,-0.0434,1.7272,0.7193,3.1425,-0.2394,-0.5629,...,-1.7615,0.2067,-0.9232,-0.3156,0.8828,0.7520,0.5257,-0.2316,-0.2081,-0.4328